
h1{
    font-size: 45px;
    font-weight: 700px;
    font: bold;
    
}
h2{
    font-size: 30px;
    text-align: center;
    font: bold;
}
.head_border{
    border-left:solid red;
}
.Misson_head{
    color: #db189ada;
}
.Explore_btn{
    text-decoration: none;
    font: 10px;
    background-color: #0680f398;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border-radius: 5px;
}

.focus_intro_para{
    width: 90%;
    margin-left: 40px;
    margin-right: 10px;
    display: flex;
    justify-content: space-around;
}
.intro_para{
    margin-left: 2%;
    margin-right: 10%;    
}
.color_2022{
    color: #db189ada;
}
.img_mission22 img{
    width: 50%;
}
#backgroundColor_vision{
    background-color: rgba(238, 201, 153, 0.527);
}
#backgroundColor_Goals{
    background-color: #f1ee0965;
}
.mission{
    display: flex;
    justify-content: space-around;
    
}

.all_mission{
    padding-left: 20px;
    padding-right: 20px;
    width: 400px;
    height: 450px;
    border-radius: 10px;
    background-color: #d9f7fc70;
    margin-inline: 10px;
   
}
.section_div{
    text-align: left;
    width: 90%;
    margin: auto;
    padding: 50px;
    
}

.Skill{
    width: 90%;
    margin-left: 40px;
    margin-right: 20%;
    display: flex;
    justify-content:left;
}

.Skill-width img{
    height: 100%;
    width: 100%;
}
.Document_btn{
    text-decoration: none;
    font: 10px;
    background-color: #0680f398;
    font-weight: 700;
    padding-left: 30px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border-radius: 5px;
}
#Skill_background{
    
    padding-left: 40px;
    background-position: left;
    background-size: 5%;
    background-image: url(./images/shapes/shape-1.png);
    background-size: 95px 100px;
    background-repeat: no-repeat;
    
}
#aboutme_background1{
   
    background-position: right bottom; 
    background-image: url(./images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 5%;
    
}
#about_image img {
    margin-left: 10%;
    
}
.tool_head{
    text-align: center;
}
span{
    color: #db189ada;
}

h3{
    font-size: 30px;
}
.Tools_link{
    text-decoration: none;
    font: 10px;
    background-color: #0680f398;
    font-weight: 700;
    padding-left: 30px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border-radius: 5px;
}

.tools_section{
    width: 90%;
}
.tools{
    width: 90%;
    display: flex;
}

.tools_width{
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 10px;
}
.tools_width img{
    width: 70%;
}

.buttom_text{
    padding: 10px;
    text-align: center;
    font-style: italic;
    background-color: black;
    font: bold;
    color: white;
}
p{
    font-style: normal;
}